@font-face {
    font-family: Aller;
    src: url(../fonts/Aller_Rg.ttf);
}

/* SLIDER */

/* POSITION CENTER */
/*.flexslider .slides img {width: auto; display: block; margin-left: auto; margin-right: auto;}*/


.flexslider img {
  display: block;
  height: auto;
}

.flexslider .slides li {
  position: relative;
}

.flex-caption {
  font-family: Aller;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 500px;
  padding: 10px;
  color: white;
}

.flex-caption h1 {
  text-shadow:0 0 6px rgba(0,0,0,1);
  font-size: 3em;
}

.flex-caption p {
  text-shadow:0 0 6px rgba(0,0,0,1);
}


